<header class="main-header">
  <!-- Add menu -->
  <h1>
    <a href="{{site.baseurl}}" title="Go to PSI Tools">PSI Tools</a>
  </h1>
  <h2>{{ page.title }}</h2>
  <p>{{ page.description }}</p>
</header>
